<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Treinamento Spring Boot</title>
<meta charset="UTF-8" />
<link rel="icon" th:href="@{/img/favicon.png}" />
</head>
<body>
	<form th:object="${pessoa}" th:action="@{/pessoa/acao}" method="post">
		<p>
			Id: <input th:field="*{id}" /> 
		</p>
		<p>
			Nome: <input th:field="*{nome}" /> 
		</p>
		<p>
			Sobrenome: <input th:field="*{sobrenome}" /> 
		</p>
		<p>
			Data de Nascimento: <input th:field="*{dataNascimento}" /> 
		</p>
	</form>
</body>
</html>